body{
    margin:0;
    background-color: lightgray;
}
header {
    background-color: white;
    margin-top: 0;
    padding: 5px;
}
h1 {
    text-align: center;
}

.container {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-top: 50px;
}

.Foto1, .Foto2, .Foto3, .Foto4 {
    background: white;
}

.Foto1 img, .Foto2 img, .Foto3 img, .Foto4 img {
    width: 100%;
}
.Titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.Titulo h2 {
    width: 75%;
}
.Titulo p {
    width: 25%;
    text-align: right;
}

.Coment {
    padding-bottom: 10px;
    margin-left: 10px;
}
